.addButton {
  width: 20%;
  margin-top: 1rem;
  background-color: rgb(210, 159, 97);
  border: none;
  padding: 8px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.15s ease;
}

.addButton:hover {
  background-color: #454545;
  border: 2px solid #dfcbb3;
  color: #dfcbb3;
}

.twoColumns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 1rem;
}

.sortSelect {
  background-color: #2a2a2a;
  color: #dfcbb3;
  border: 1px solid #454545;
  border-radius: 8px;
  padding: 8px 12px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin: 10px;
}

.sortSelect:hover {
  border-color: #dfcbb3;
}

.sortSelect:focus {
  outline: none;
  border-color: #dfcbb3;
  box-shadow: 0 0 3px rgba(223, 203, 179, 0.5);
}

.sortSelect option {
  background-color: #000000;
  color: #dfcbb3;
  padding: 30px;
  &:checked{
    background-color: #3c3a3a;
  }
}

.sortButton {
    background: #1a1a1a;
    color: #fff;
    border: 1px solid #3a3a3a;
    border-radius: 6px;
    padding: 6px 14px;
    font-size: 13px;
    cursor: pointer;
    transition: 0.2s;
}

.sortButton:hover {
    background: #2a2a2a;
    border-color: #555;
}